<main class="content">
    <div class="container friends-container">
        <div class="card-content">
            <h2>邻居们</h2>
            <div class="flink-desc"><span style="color: #27AE60;font-weight:500">早期的小伙伴</span></div>
            <% if (site.data && site.data.friends) { %>
            <% var friends = site.data.friends; %>
            <div class="row friend-all">
                <% for (var i = 0, len = friends.length; i < len; i++) { %>
                <% var friend = friends[i]; %>
                <div class="card friend-card<%- ((i % 10) +1) %>">
                    <div class="friend-ship">
                        <div class="title">
                            <img src="<%- friend.avatar %>" alt="avatar">
                            <div>
                                <i class="friend-name"><%- friend.name %></i>
                                <p><%- friend.introduction %></p>
                            </div>
                        </div>
                        <div class="friend-button">
                            <a href="<%- friend.url %>" target="_blank" rel="nofollow noopener norefferrer"
                                class="button button-glow button-rounded button-caution">
                                <%- friend.title %>
                            </a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
        <div class="flink" id="article-container"></div>
        <script>
            $('.flink').prepend('<div id="friend1"></div>')
            if (typeof (Friend) == 'undefined') {
                location.href = '/friends'
            }
            new Friend();
        </script>
        <div class="make-friends">
            <%- page.content %>
        </div>
    </div>
</main>
